@use 'global' as *;
@use 'sass:math';

.c-section-heading2 {
  display: inline-flex;
  flex-direction: column;
  font-size: rem(26);
  font-weight: $bold;
  letter-spacing: calc(5.3em / 53);
  @include mq() {
    font-size: rem(40);
    letter-spacing: 0;
  }
}

.c-section-heading2[data-english]::before {
  margin-bottom: rem(2);
  font-size: rem(16);
  font-weight: $bold;
  letter-spacing: calc(1.92em / 32);
  content: attr(data-english);
  text-transform: uppercase;
  @include mq() {
    margin-bottom: rem(4);
    font-size: rem(24);
    letter-spacing: calc(1.44em / 24);

  }
}

.c-section-heading2--small {
  font-size: rem(19);
  // letter-spacing: calc(1.68em / 28);
  letter-spacing: 0;
}

.c-section-heading2--small[data-english]::before {
  margin-bottom: rem(2);
  font-size: rem(14);
  letter-spacing: calc(1.68em / 28);
}